<launch>

<group ns = "arm">
 <node pkg="arm" name="grabber" type="grabber"/>
 <node pkg="arm" name="limiter" type="limiter"/>
 <node pkg="arm" name="tracker" type="tracker"/>
 <node pkg="arm" name="window" type="window_tracking"/>
 <node pkg="arm" name="controler" type="controler"/>
</group>

</launch>
